form action="/logout" method="post"
    button type="submit" Logout

h1 Du är nu inloggad som #{session[:username]}

p = session[:id]
p = session[:username]

- if session[:id]

a href="/topfem" Skapa din top 5 lista  